cmake-build-*/
.idea/
*.swp
*.swo
build/
.ccls-cache/
compile_commands.json
build-*/
build_*/
.daq_pm/status/
.setuptools-cmake-build/
.eggs/
tools/onnx2bnn/python/dist/
tools/onnx2bnn/python/onnx2bnn.egg-info/
